<input type="text" name="Search" id="search" class="search-input" placeholder="Search..."
  (input)="onSearchChange($event.target.value)">
<div class="content-container">
  <div class="listings-container">
    <ng-container *ngIf="showingListings.length!=0">
      <div *ngFor="let listing of showingListings" class="listing-container" routerLink="/home/listing/{{listing._id}}">
        <div class="listing-title">{{listing.title}}</div>
        <div class="listing-author">by {{listing.authorName}}</div>
        <div class="listing-description">{{listing.description}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="showingListings.length==0">
      <div class="no-listing-container">
        <h1>No listing found</h1>
      </div>
    </ng-container>
  </div>
</div>
